html {
	overflow: hidden;
}

body {
	background: #ff0e65;
}

#question {
	h1 {
		text-align: center;
	}

	.image img {
		display: block;
    	margin-left: auto;
    	margin-right: auto
	}
}

#answers {
	margin-left: -40px;
	margin-top: 50px;

	ul {
		margin: 10px;
	}

	li {
		list-style: none;
		margin-bottom: 20px;
	}

	img {
		display: block;
    	margin-left: auto;
    	margin-right: auto
	}
}
