html {
  overflow: hidden;
}
body {
  background: #fff;
}
#question h1 {
  text-align: center;
}
#question .image img {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid thin #000;
}
#answers {
  margin-left: -40px;
  margin-top: 80px;
}
#answers ul {
  margin: 10px;
}
#answers li {
  list-style: none;
  margin-bottom: 20px;
}
#answers img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: solid thin #000;
}
