html {
	overflow: hidden;
}

body {
	background: #0097A7;
	font-family: 'Roboto';
}

#register {
	margin-top: 50px;
}

#question {
	background: #00BCD4;
	text-align: center;
	color: #FFF;
	padding: 20px 0;
	box-shadow: 10px 10px 22px -12px rgba(0,0,0,0.75);

	.id {
		position: absolute;
		top: 0;
		left: 10px;
	}

	.image img {
		margin: 30px 0 20px;
		display: block;
    	margin-left: auto;
    	margin-right: auto;
		border-radius: 5px;
		//box-shadow: 10px 10px 22px -12px rgba(0,0,0,0.75);
	}
}

#answers {
	margin-top: 30px;
	margin-left: -52px;

	ul {
		margin: 10px;
	}

	li {
		list-style: none;
		margin-bottom: 30px;
	}

	img {
		display: block;
    	margin-left: auto;
    	margin-right: auto;
		cursor: pointer;
		box-shadow: 10px 10px 22px -12px rgba(0,0,0,0.75);
		border-radius: 5px;
	}
}
