// Stylesheets
link(rel="stylesheet" href="libs/normalize-css/normalize.css")
link(rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.css")
link(rel="stylesheet" href="css/styles.css")

// External JavaScript
script(src="libs/jquery/dist/jquery.js")
script(src="libs/angular/angular.min.js")
script(src="libs/angular-route/angular-route.min.js")

// Internal JavaScript
script(src="js/app.module.js")
script(src="js/tester.controller.js")
script(src="js/questions.constants.js")
script(src="js/config.constants.js")
script(src="js/log.service.js")
script(src="js/timer.service.js")
