doctype html
html(lang='en' ng-app='tester')
    head
        title="tester"
        include header.jade
    body(ng-controller='Tester as vm')
        .row
            .container
                .col-md-12
                    #question
                        h1 {{ vm.currentQuestion.Question }}
                        .image
                            img(ng-src='img/{{vm.currentQuestion.Image}}')
        .row
            .container
                .col-md-12
                    #answers
                        ul(ng-repeat='answer in vm.currentQuestion.Answers')
                            .col-md-6
                                li
                                    img(ng-src='img/{{answer.src}}' ng-click='vm.selectAnswer(answer)')
