doctype html
html(lang='en' ng-app='tester')
    head
        title="tester"
        include header.jade
    body(ng-controller='Tester as vm')
        .row#question
            .container
                .col-md-12
                    h1 {{ vm.currentQuestion.Question }}
                    .image
                        img(ng-src='img/{{vm.currentQuestion.Image}}')
        .row#answers
            .container
                .col-md-12
                    ul(ng-repeat='answer in vm.currentQuestion.Answers')
                        .col-md-6
                            li
                                img(class='answer' ng-src='img/{{answer.src}}' ng-click='vm.selectAnswer(answer)')
