// Stylesheets
link(rel="icon" href="img/favicon.png" type="image/png")
link(rel="stylesheet" href="libs/normalize-css/normalize.css")
link(rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.css")
link(rel="stylesheet" href="css/styles.css")
link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto' type='text/css')

// External JavaScript
script(src="libs/jquery/dist/jquery.js")
script(src="libs/angular/angular.min.js")
script(src="libs/angular-route/angular-route.min.js")

// Internal JavaScript
script(src="client/components/admin/js/app.module.js")
script(src="client/components/admin/js/testerAdmin.controller.js")
script(src="client/components/admin/js/data.service.js")
