doctype html
html(lang='en' ng-app='testerAdmin' style='overflow: auto')
	head
		title="tester - Admin"
		include header.jade
	body(ng-controller='TesterAdmin as vm')
		ul(ng-repeat='item in vm.scores')
			li {{item.userId}} {{item.score}}/40
