doctype html
html(lang='en' ng-app='testerAdmin' style='overflow: auto')
	head
		title="tester - Admin"
		include header.jade
	body(ng-controller='TesterAdmin as vm')
		.row
			.container
				.col-md-8.col-md-offset-2
					#answers
						ul(ng-repeat='item in vm.scores')
							table(class='table user' style='margin-bottom:0; border-bottom: solid thin #000')
								tbody
									tr
										td UserId: {{item.userId}}
										td Score: {{item.score}}/40
								table(class='table' style='display:none;')
									thead
										tr
											th Type
											th Number
											th Answer
											th Correct
									tbody
										tr(class='table' ng-repeat='answer in item.answers')
											td {{answer.type}}
											td {{answer.number}} 
											td {{answer.answer}} 
											td {{answer.correct}}
